<!-- aside se usa para las barras laterales o los sidebar-->
<aside id="sidebar">
    <!-- Opciones del usuario -->
    <div id="nav-blog" class="sidebar-item">
        <h3>Puedes hacer esto</h3>
        <a [routerLink]="['/blog/crear']" class="btn btn-success">Crear artículo</a>
    </div>
    <!-- Buscador de artículos -->
    <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Encuentra el artículo que buscas</p>
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
            <input type="text" name="search" [(ngModel)]="searchString" />
            <input type="submit" name="submit" value="Buscar" class="btn" />
        </form>                
    </div>
</aside>
<!-- limpiado de flotados para que el resto de la página no se cuele en los huecos -->
<div class="clearfix"></div>
